<ul>
  <li><a href="/about/">About the Institute</a></li>
  <li><a href="/about/about-section/why-geoinst/">Why #geoinst?</a></li>
  <li><a href="/about/about-section/institute-faculty/">Institute Faculty</a></li>
  <li><a href="/about/about-section/advisory-board/">Advisory Board</a></li>
  <li><a href="/about/about-section/affiliated-fellows/">Affiliated Fellows</a></li>
  <li><a href="/about/about-section/institute-participants/">Institute Participants</a></li>
  <li><a href="/about/about-section/curriculum/">Curriculum</a></li>
</ul>
