---
layout: default
bodyclass: stepbystep
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="entry">
  {{ content }}
  </div>
  <footer>
    <h2>About <em>Step By Step</em></h2>
    <p><em>Spatial Humanities Step By Step</em> is a peer-reviewed series of tutorials and guides to getting things done in teaching and research with spatial tools and resources. Interested in submitting content to <em>Step By Step</em>? Please <script>var user='kgj3t';document.write('<a href=\"mailto:'+user+'@virginia.edu?subject=Spatial Humanities Step By Step\">contact the editor</a>');</script>.
</p>
    <ul class="stepbystep-board">
      <li><span class="name">Patrick Florance</span>
    <span class="institution">Tufts University</span></li>
      <li><span class="name">Chris Gist</span>
    <span class="institution">University of Virginia</span></li>
      <li><span class="name">Tracey Hughes</span>
    <span class="institution">Colorado Mountain College</span></li>
      <li class="editor"><span class="name">Kelly Johnston</span>
    <span class="institution">University of Virginia</span>
    <span class="role">Editor</span></li>
      <li><span class="name">Scott Nesbit</span>
    <span class="institution">University of Richmond</span></li>
      <li><span class="name">Bethany Nowviskie</span>
    <span class="institution">University of Virginia</span></li>
      <li><span class="name">Diana Stuart Sinton</span>
    <span class="institution">University of Redlands</span></li>
      <li><span class="name">Ginny White</span>
    <span class="institution">University of Oregon</span></li>
    </ul>
  </footer>
</article>

